<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/account.css">

<h1> Change password </h1>

<form action="/changepassword" method="post">
    <input type="password" id="currentpassword" name="currentpassword" placeholder="currentpassword">
    <input type="password" id="newpassword" name="newpassword" placeholder="newpassword">
  <button>Submit</button>
  <div class="buttons">
    <li><a href="/secret">Main page</a></li>
    <li><a href="/logout">Logout</a></li>
  </div>
</form>