<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/secret.css">

<h1>Break Tracker</h1>
<br><b>Hello <%= name %></b>
<h1>This is the agent page!</h1>

<li><a href="/account">Change Password</a></li>
<li><a href="/logout">Logout</a></li>
