<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/secret.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.min.js"></script>

<h1>Break Tracker</h1>
<br><b>Hello there!</b>
<h1>This is the SPC page!</h1>

<div id="slot-container">
    <h2>Number of slots available: <span id="slot-number">X</span></h2>
</div>

<form id="update-slots-form" action="/update-slots" method="post">
    <label for="new-slot-number">Update number of slots:</label>
    <input type="number" id="new-slot-number" min="0">
    <input type="submit" value="Update">
</form>

<li><a href="/account">Change Password</a></li>
<li><a href="/logout">Logout</a></li>

<script>
    const form = document.getElementById("update-slots-form");
    form.addEventListener("submit", e => {
        e.preventDefault();
        const newSlotNumber = document.getElementById("new-slot-number").value;
        fetch("/update-slots", {
            method: "POST",
            body: JSON.stringify({ newSlotNumber }),
            headers: { "Content-Type": "application/json" }
        });
    });

    // Connect to the Socket.io server
    const socket = io();
    socket.on("slotNumberUpdate", newSlotNumber => {
        document.querySelector("#slot-number").textContent = newSlotNumber;
    });
</script>
